.error {
    -fx-border-width: 3;
    -fx-border-color: red;
}

.error-message {
    -fx-background-color: red;
}

.title {
    -fx-fill: #000;
    -fx-font-family: "Rockwell Extra Bold";
    -fx-font-size: 60;
    -fx-stroke: #000;
    -fx-stroke-width: 0;
}

.button.confirm-button, .button.cancel-button {
    -fx-pref-height: 50;
    -fx-pref-width: 200;
    -fx-border-width: 3;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.confirm-button {
    -fx-border-color: #1ce625;
    -fx-background-color: #61f268;
}

.confirm-button:hover {
    -fx-background-color: #05fc11;
}

.cancel-button {
    -fx-border-color: #e64727;
    -fx-background-color: #fa6446;
}

.cancel-button:hover {
    -fx-background-color: #fa2e05;
}